{% extends "base.html" %}

{% block extra_css %}
<style>
    #challenges-container {
        max-width: 600px; /* Set maximum width */
        margin: auto; /* Center the container */
        padding: 20px;
    }
    .challenge-title {
        font-size: 16px;
        font-weight: bold;
    }
    #challenges-list {
        list-style-type: none;
        padding: 0;
    }
    .challenge {
        cursor: pointer;
        margin: 10px;
        background-color: #b6c4b6;
        border: 1px solid #575757; /* border: 1px solid #ddd;*/
        padding: 10px;
        box-shadow: #809380 4px 4px;
    }
    .challenge-description {
        margin-top: 5px;
        color: #555;
       /* display: none;  Initially hidden */
    }
    .challenge, .challenge-title, .challenge-description {
        text-align: center; /* Center text within each challenge and its title/description */
    }

    h1 {
        text-align: center;
    }
    .hidden {
        display: none;
    }
</style>
{% endblock %}

{% block title %}Home - Eco-Friendly Daily Challenges{% endblock %}

{% block content %}
    <h1>Eco-Friendly Daily Challenges</h1>
    <div id="challenges-container">
        <ul id="challenges-list">
            {% for challenge in challenges %}
                <li class="challenge">
                    <div class="challenge-title">{{ challenge.title }}</div>
                    <div class="challenge-description hidden">{{ challenge.description }}</div>
                </li>
            {% empty %}
                <li>No challenges available.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.challenge-title').forEach(title => {
            title.addEventListener('click', () => {
                let description = title.nextElementSibling;
                description.classList.toggle('hidden');
            });
        });
    });
</script>
{% endblock %}
